body{
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
}
#positions td {
	vertical-align: top;
}
#positions td.title {
	cursor: crosshair;
}
#positions input {
	border: 1px solid #333;
	padding: 0 2px;
	text-align: right;
	width: 3em;
}
#positions textarea {
	height: 1.1em;
	overflow:hidden;
}
#positions textarea:focus {
	height: 10em;
	overflow: auto;
}
.nbsp {
	white-space: nowrap;
}
.notification {
	background: #fbcdcd;
	border: 1px solid #f25050;
	min-width: 300px;
	padding: 1em;
	text-align: center;
}
#update {
	font-weight: bold;
}
.fr {
	float: right;
}
#command {
	background: #729fcf;
	border-radius: 4px;
	padding: .4em;
}
#positions input[type="image"] {
	border: none;
	height: 16px;
	padding: 0;
	width: 16px;
}
